* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange {
  color: #fd6e0a;
}

.log h2 {
  font-size: 45px;
  font-weight: 900;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#about,
#skills,
#resume {
  margin-top: 130px;
}

/* main style */
header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 51px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  /* border: 1px solid red; */
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  /* border: 1px solid red; */
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 20px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-imge img {
  max-width: 584px;
  vertical-align: middle;
}

#about .about-continer {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}

#about .about-continer .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  font-size: 400;
  line-height: 30px;
  color: #757575;
}

.about-info .info-card h4 {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}

#skills .skills-continer {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#skills .skills-continer .skills-box {
  display: flex;
  gap: 24px;
}

.skills-box .skilla-card {
  padding: 30px;
  max-width: 267px;
  border-radius: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.skilla-card img {
  width: 44px;
  margin-bottom: 30px;
}

.skilla-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.skilla-card p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 28px;
}

#resume .resumi-continer {
  max-width: 71%;
  width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}

.education hr {
  margin: 30px 0;
  color: #d1d1d1;
}
.resumi-continer .section-tytle {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 30px;
}

.resumi-card {
  max-width: 511px;
  margin-right: 47px;
}

.resumi-card .card-tytle {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}

.resumi-card .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.resumi-card .card-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 28px;
  margin-bottom: 30px;
}
