* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange {
  color: #fd6e0a;
}

.log h2 {
  font-size: 45px;
  font-weight: 900;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* main style */
header {
  background-color: #fff8f3;
  padding-top: 51px;
}

nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
